<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="author" content="Turbo 360">
	<title>Turbo 360</title>

	<link rel="apple-touch-icon" href="{{cdn}}/dist/docs/img/gl-icon-lg.png">
	<link rel="icon" href="{{cdn}}/dist/images/favicon.png">

	<link rel="stylesheet" href="{{cdn}}/dist/docs/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{cdn}}/dist/docs/plugins/prettify/prettify.css">
	<link rel="stylesheet" href="{{cdn}}/dist/docs/css/main.css">

	<script src="{{cdn}}/dist/docs/js/vendor/modernizr.min.js"></script>
	<style type="text/css">
		pre {
			background: #000;
			color: #fff;
		}

		code {
			color: #fff;
			line-height: 24px
		}

		h2 {
			font-family: 'Pathway Gothic One'
		}

		body .gist .blob-num {
			color: #ced4da;
			background-color: #495057;
			pointer-events: none;
		}

		.gist tbody {
			background: #f5f9f9
		}

		.code-table {
			background:#fffffa;
			border:1px solid #ddd;
		}

		.screenshot {
			background:#fff;
			padding:3px;
			border:1px solid #ddd;
			margin-bottom:16px;
			width: 100%
		}
	</style>
</head>

<body data-spy="scroll" data-target=".gd-sidebar" data-offset="100">
	<div class="gd-wrapper">

		<div class="gd-header">
			<div class="container-fluid">
				<div class="item-name">
					<a href="https://www.turbo360.co">
						<img src="https://redesign-lhoti0.turbo360-dev.com/dist/images/logo.png" alt="Logo">
					</a>
				</div>
			</div>
		</div>

		<!-- BEGIN SIDEBAR -->
		<div class="gd-sidebar hidden-xs">
			<ul class="nav nav-stacked" id="sidebar">
				<li>
					<a href="#">Pages</a>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/admin/projects">Projects</a></li>
						<li><a href="/admin/education">Education</a></li>
						<li><a href="/admin/jobs">Jobs</a></li>
						<li><a style="color:red" href="/admin/skills">Skills</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.gd-sidebar -->
		<!-- END SIDEBAR -->
		
		<div class="gd-content">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">

					<section>
						<h2>Skills</h2>
						<p>This page shows all skills currently on your site.</p>
						<ul>
							<li>
								<div style="background:#f9f9f9;padding:16px;border:1px solid #ddd">
									<h4>Current Skills</h4>
									<ol style="text-align:left">
										{{#skills}}
										<li>
											<a href="#">{{name}}</a>
											<button id="delete-{{id}}" style="margin-left:12px">Delete</button>
										</li>
										{{/skills}}
									</ol>
								</div>
							</li>
							<li>
								<div style="background:#f9f9f9;padding:16px;border:1px solid #ddd;margin-top:24px">
									<h4>Create Skill</h4>
									<div class="row">
										<div class="col-md-9">
											<form action="/" method="POST">
												<input id="skill-name" class="form-control" type="text" name="name" placeholder="Skills Name" /><br />
												<select id="skill-percentage" class="form-control">
													<option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option>
												</select>
												<br />
												<button id="skill-submit" type="submit" class="btn btn-info">Add Skill</button>
											</form>
										</div>
									</div>

								</div>
							</li>
						</ul>
					</section>
					
					<section>
						<h2>Contact</h2>
						<p>
							If you have any questions, comments or feedback, feel free to contact us at <a href="mailto:matthew@turbo360.co">matthew@turbo360.co</a>
						</p>
					</section>

				</div>
			</div>

			<hr />
			<footer class="text-center text-muted">
				<p><small>&copy; 2018 Turbo 360, Inc</small></p>
			</footer>
		</div>
	</div>

    <script src="{{cdn}}/dist/docs/js/vendor/jquery.min.js"></script>
    <script src="{{cdn}}/dist/docs/js/vendor/bootstrap.min.js"></script>
	<script src="{{cdn}}/dist/docs/plugins/prettify/prettify.js"></script>
	<script src="{{cdn}}/dist/docs/plugins/jquery.nicescroll.min.js"></script>
	<script src="{{cdn}}/dist/docs/plugins/clipboard/clipboard.min.js"></script>
    <script src="{{cdn}}/dist/docs/js/main.js"></script>

	<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/dropzone.js"></script> 
	<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>
    
    <script type="text/javascript">window.__INITIAL__ = {{{initalData}}}</script>
	<script type="text/javascript">
		$(function(){
			var initial = window.__INITIAL__
			var turbo = null
			var nextSkill = {}

			if (initial != null){
				turbo = Turbo({site_id: initial.env.TURBO_APP_ID})
				initial.skills.forEach(function(skill, i){
					$('#delete-'+skill.id).click(function(event){
						event.preventDefault()
						console.log('Delete Skill: ' + JSON.stringify(skill))
						deleteSkill(skill)
					})
				})
			}

			var deleteSkill = function(skill){
				if (confirm('Are You Sure?') == false)
					return

				$.ajax({
					url : '/api/skill/'+skill.id,
					type: 'DELETE',
					data : null,
					success: function(data, textStatus, jqXHR){
						if (data.confirmation != 'success'){
							alert('Error: ' + data.message)
							return
						}

						window.location.href = '/admin/skills'
					},
					error: function (jqXHR, textStatus, err){
						alert('Error: ' + err.message)
					}
				})
			}

			$('#skill-submit').click(function(event){
				event.preventDefault()

				nextSkill['name'] = $('#skill-name').val(),
				nextSkill['level'] = parseInt($('#skill-percentage').val())
				if (nextSkill.name.length == 0){
					alert('Please enter a skill name')
					return
				}

				if (nextSkill.level == null){
					alert('Please enter a skill level')
					return
				}

				// console.log('Add Skill: ' + JSON.stringify(nextSkill))
				$.ajax({
					url : '/api/skill',
					type: 'POST',
					data : nextSkill,
					success: function(data, textStatus, jqXHR){
						// console.log('CREATE PROJECT: ' + JSON.stringify(data))
						if (data.confirmation != 'success'){
							alert('Error: ' + data.message)
							return
						}

						window.location.href = '/admin/skills'
					},
					error: function (jqXHR, textStatus, err){
						alert('Error: ' + err.message)
					}
				})
			})
		})
	</script>

</body>
</html>
