<!-- Footer -->
<div class="lx-footer">
    <div class="lx-footer-content">
        <ul>
            <li>
            	<div>
					<a target="_blank" href="https://www.turbo360.co">
						<img src="https://lh3.googleusercontent.com/wt4oJ8jJLvy9xD5bboq5kDNw4OCSKqi_re2wj6-DWsU-cs1EOkhf3XSjGHmgU3eWRU5vxGl-kb5N5pjME6HdL0ZzMQ=s120" />
					</a>
            	</div>
            </li>
        </ul>
        <p>&copy; 2018. All Rights Reserved</p>
        <div class="lx-clear-fix"></div>
    </div>
</div>
