  <div class="lx-g1-f">
    <!-- Body Menu -->
    <div class="lx-body-menu">
      <a href="javascript:;">MENU</a>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="lx-has-children"><a href="javascript:;" class="active">Resume</a>
          <div class="lx-body-submenu">
            <ul>
              <li><a href="index1.html">Resume 1</a></li>
              <li><a href="index2.html">Resume 2</a></li>
              <li><a href="index3.html">Resume 3</a></li>
            </ul>
          </div>
        </li>
        <li class="lx-has-children"><a href="javascript:;">Blog</a>
          <div class="lx-body-submenu">
            <ul>
              <li><a href="blog1.html">Grid + Sidebar</a></li>
              <li><a href="blog2.html">Grid</a></li>
              <li><a href="blog6.html">Masonary</a></li>
              <li><a href="blog3.html">Fullwidth + Grid + Sidebar</a></li>
              <li><a href="blog4.html">Fullwidth + Sidebar</a></li>
              <li><a href="blog5.html">Picture on the left + Sidebar</a></li>
            </ul>
          </div>
        </li>
        <li class="lx-has-children"><a href="javascript:;">Single Post</a>
          <div class="lx-body-submenu">
            <ul>
              <li><a href="single-post1.html">Thumbnail</a></li>
              <li><a href="single-post2.html">Video</a></li>
              <li><a href="single-post3.html">Gallery</a></li>
              <li><a href="single-post4.html">No Thumbnail</a></li>
              <li><a href="single-post5.html">No Sidebar</a></li>
            </ul>
          </div>
        </li>
        <li class="lx-has-children"><a href="javascript:;">Portfolio</a>
          <div class="lx-body-submenu">
            <ul>
              <li><a href="portfolio1.html">Grid</a></li>
              <li><a href="portfolio2.html">Masonary</a></li>
              <li><a href="portfolio3.html">Slider</a></li>
              <li><a href="portfolio4.html">Carousel</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">About me</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <div class="lx-clear-fix"></div>
    </div>
    <div class="lx-clear-fix"></div>
  </div>