<div class="lx-header hidden-xs">
	<div class="ssk-sticky ssk-left ssk-center ssk-lg ssk-round">
		<a href="#" style="margin-bottom:16px" class="ssk ssk-facebook"></a>
		<a href="#" style="margin-bottom:16px" class="ssk ssk-twitter"></a>
		<a href="#" style="margin-bottom:16px" class="ssk ssk-email"></a>
	</div>
</div>