/* Settings re-setters */
.lx-mt-0-50{
	margin-top:0px;
}
.lx-mb-50{
	margin-bottom:50px;
}
.lx-mb-15{
	margin-bottom:15px !important;
}
.lx-mb-0{
	margin-bottom:0px;
}
.lx-pr-30{
	padding-right:30px;
}
.lx-pl-30{
	padding-left:30px;
}
.lx-pr-15{
	padding-right:15px;
}
.lx-pl-15{
	padding-left:15px;
}
.lx-prl-15{
	padding-right:15px;
	padding-left:15px;
}
.lx-pr-25{
	padding-right:25px;
}
.lx-pl-25{
	padding-left:25px;
}
.lx-prl-25{
	padding-right:25px;
	padding-left:25px;
}
.lx-pr-10{
	padding-right:10px;
}
.lx-pl-10{
	padding-left:10px;
}
.lx-prl-10{
	padding-right:10px;
	padding-left:10px;
}
.lx-pr-20{
	padding-right:20px;
}
.lx-pl-20{
	padding-left:20px;
}
.lx-pb-20{
	padding-bottom:20px;
}
.lx-pb-10{
	padding-bottom:10px;
}
.lx-pb-0{
	padding-bottom:0px;
}
.lx-bl{
	border-left:1px solid #EEEEEE;
}
@media(max-width:1023px){
	.lx-p-0{
		padding:0px;
	}
	.lx-pb-10{
		padding-bottom:0px;
	}
	.lx-g3-2-f-to-g1-f{
		width:100%;
	}
}
@media(max-width:768px){
	.lx-mt-0-50{
		margin-top:50px;
	}
	.lx-mb-50{
		margin-bottom:0px;
	}
	.lx-mb-15{
		margin-bottom:30p !important;
	}
	.lx-pr-30{
		padding:0px;
	}
	.lx-pl-30{
		padding:0px;
	}
	.lx-pr-15{
		padding-right:0px;
	}
	.lx-pl-15{
		padding-left:0px;
	}
	.lx-prl-15{
		padding-right:0px;
		padding-left:0px;
	}
	.lx-pr-25{
		padding-right:0px;
	}
	.lx-pl-25{
		padding-left:0px;
	}
	.lx-prl-25{
		padding-right:0px;
		padding-left:0px;
	}
	.lx-pr-10{
		padding-right:0px;
	}
	.lx-pl-10{
		padding-left:0px;
	}
	.lx-prl-10{
		padding-right:0px;
		padding-left:0px;
	}
	.lx-pr-20{
		padding-right:0px;
	}
	.lx-pl-20{
		padding-left:0px;
	}
	.lx-bl{
		border-left:0px;
	}	
}